.carousel-slide {
	width: 70%;
	float: left;
	margin: 20px 0px 0px 40px;
}
.carousel.carousel-slider {
	border: 2px solid #000;
}

.slider-wrapper.axis-horizontal .slider .slide {
	background: #fff;
}
.carousel .slide img {
	width: 35% !important;
	display: block;
	float: left;
	margin: 25px 10px 25px 25px;
}

.headline {
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	padding-top: 20px;
}

.content {
	text-align: left;
	font-size: 16px;
}
.carousel .control-dots .dot {
	width: 10px !important;
	height: 10px !important;
	border: 1px solid #000;
	background: #c1c1c1 !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}
.ui.segment:first-child {
	padding: 5px 40px;
	margin: 5px 0px;
}
.ui.label {
	background-color: unset !important;
	padding: 0px 15px !important;
	font-size: 25px !important;
	vertical-align: sub !important;
}
.login-icon,
.news-publish-icon {
	display: inline-block;
	margin-top: 12px;
	float: right;
	cursor: pointer;
}
.ui.label.login-label {
	font-size: 20px !important;
	padding: 5px 0px 0px 0px !important;
}
.ui.label.news-publish-label {
	font-size: 18px !important;
	padding: 5px 20px 0px 0px !important;
}
